form{
    visibility: hidden;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
body {
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    width: 100vw;
}

header{
    display: flex ;
   
    background-color: var(--background);
    
    
}


nav{
    display: inline;
    justify-content: center;
/* margin-left: 600px; */
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  gap: 100px;
  padding-right: 10px;
  margin-left: 40px;
  
  
}

/* #table{
    background-color: beige;
    border:2px solid #902c2c;
} */


table {
    width: 50%;
    text-align: center;
    border: black solid 1px;
    box-shadow: 14px 21px 6px #00000075;
    margin:auto 5px;
    
   
}

td, th {
    border: 3px solid rgb(21, 20, 20);
    color: #0b0b0b;
    font-size: 1rem;
    background-color: #9c868e95;
}

th {
    padding: 30px;
}

/* td {
    padding: 15px;
}  */
a{
    text-decoration: none;
    color: #ede5e5;
}
a{
    text-decoration: none;
    color: #ede5e5;
}
a:hover{
    color:rgb(93, 11, 11)
}
a:link{
    color:rgb(13, 222, 187)
}
a:active{
    color: blue;
}

main{
    /* display: column flex; */
    padding-top: 20px;
    padding: 8%;
    background-color:#f1c0c7;
   
}
footer{
    display: flex;
    background-color: var(--background);
    justify-content: space-between;

}
.c2 {
    display: flex;
    font-size: larger;
    margin-right: 20px;
    margin-right: 40rem


}

.c1 {
    display: flex;
    gap: 20px;
    align-items: center;

}



/* function departmentNumber () {



    let depNumA=0;
    let depNumD=0;
    let depNumM=0;
    let depNumF=0;
    
    for(let i=0;i<objArr.length;i++){
    
      if (objArr[i].department == "Administration") {
        depNumA+=1;
        
    
    
      } else if (objArr[i].department == "Finance") {
        depNumF+=1;
      }
      else if (objArr[i].department == "Development") {
        depNumD+=1;
    
    
      }
      else if (objArr[i].department == "Marketing") {
        depNumM +=1;
    
    
      }
    
    
      
    
    }
    } */